<%= javascript_include_tag 'geofsh' %>

<p> This is your latitude and longitude input fields. Are they working? </p>
<%= label_tag :Latitude %>
<%= text_field_tag 'latitude', nil, :class => 'geoloc-hide' %>
<%= label_tag :Longitude  %>
<%= text_field_tag 'longitude', nil, :class => 'geoloc-hide' %>
